/* Utility Classes */
.subheader {
    font-weight: 800;
}

.product-item-spacing {
    margin: 5px 0px;
}

/* Component Class Level Styling */
.product-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    background-color: white;
    margin: 10px 5px;
    padding: 10px;
    color: black;
}

.product-item img {
    padding: 5px;
    height: 150px;
}

.product-item-price {
    font-size: 20px;
    font-weight: 800;
}

.product-item-id {
    font-style: italic;
}

.product-item-desc {
    width: 80%;
}

/* In Stock Span Styling for Yes/No Status */
.in-stock-yes {
    color: green;
    font-size: 1.2em;
    font-weight: 800;
}

.in-stock-no {
    color: red;
    font-size: 1.2em;
    font-weight: 800;
}
